controller_manager:
  ros__parameters:
    update_rate: 100
    
    joint_state_broadcaster:
      type: joint_state_broadcaster/JointStateBroadcaster
    
    arm_controller:
      type: joint_trajectory_controller/JointTrajectoryController
    
    gripper_controller:
      type: position_controllers/JointGroupPositionController

arm_controller:
  ros__parameters:
    joints:
      - joint1
      - joint2
    
    command_interfaces:
      - position
    
    state_interfaces:
      - position
      - velocity

gripper_controller:
  ros__parameters:
    joints:
      - finger_left_joint
      - finger_right_joint
