controller_manager:
  ros__parameters:
    update_rate: 100
    
    joint_state_broadcaster:
      type: joint_state_broadcaster/JointStateBroadcaster
    
    arm_controller:
      type: joint_trajectory_controller/JointTrajectoryController
    
    gripper_controller:
      type: position_controllers/GripperActionController

arm_controller:
  ros__parameters:
    joints:
      - shoulder_pan_joint
      - shoulder_lift_joint
      - elbow_joint
    
    command_interfaces:
      - position
    
    state_interfaces:
      - position
      - velocity
    
    state_publish_rate: 50.0
    action_monitor_rate: 20.0

gripper_controller:
  ros__parameters:
    joint: finger_left_joint
    
    action_monitor_rate: 20.0
    
    goal_tolerance: 0.01
    max_effort: 10.0
    
    allow_stalling: true
    stall_velocity_threshold: 0.001
    stall_timeout: 1.0